<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Loan Application Notification</title>
</head>
<body>


	<p>Dear {{ loan_application.borrower.full_name }},</p>

	{% if status == 'approved' %}
	    <p>🎉 Congratulations! Your loan application for loan ID {{loan_application.id}} at Sanders Finance has been approved.
              Approval details: QUALIFIED</p>


	    <p>You have met the required criteria and we are excited to proceed with the disbursement process.
           We sincerely appreciate your interest in our product and are pleased to support your financial goals. 
           Please log in to your loans portal to review the loan terms and complete the final acceptance steps.</p>

        <p>Thank you for choosing {{loan_application.lender.company_name}}!</p>

	{% elif status == 'rejected' %}
	    <p>❌ Unfortunately your loan application for loan ID {{loan_application.id}} at {{loan_application.lender.company_name}} was unsuccessful.</p>
	   
	        {% for reason in reasons %}
	            <li>Rejection Reason(s): {{ reason }}</li>
	        {% endfor %}

	        <p>We really appreciate your interest in our product and we truly hope to give you more opportunities in the near-future. Remember to keep checking back on our loans portal for the product that is potentially perfect for your financial goals!</p>

	        <p>Regards</p>
            <p>{{loan_application.lender.company_name}}</p>

	    
	{% elif status == 'pending' %}
	    <p>⏳ Your loan application for loan ID {{loan_application.id}} at {{loan_application.lender.company_name}} is currently pending.</p>
	    <ul>
	        {% for reason in reasons %}
	            Reason(s): {{ reason }}
	        {% endfor %}
	    </ul>
	    <p>Thank you for choosing {{loan_application.lender.company_name}}!</p>
	{% endif %}


	<!--<p>Dear {{ loan_application.borrower.full_name }},</p>

	{% if loan_application.status == 'approved' %}
	    <p>Congratulations! Your loan application (ID: {{ loan_application.id }}) has been approved.</p>
	{% elif loan_application.status == 'rejected' %}
	    <p>Unfortunately, your loan application (ID: {{ loan_application.id }}) has been rejected for the following reasons:</p>
	    <ul>
	        {% for reason in loan_application.get_rejection_reasons_display %}
	            <li>{{ reason }}</li>
	        {% endfor %}
	    </ul>
	{% elif loan_application.status == 'pending' %}
	    <p>Your loan application is currently pending for the following reasons:</p>
	    <ul>
	        {% for reason in loan_application.get_pending_reasons_display %}
	            <li>{{ reason }}</li>
	        {% endfor %}
	    </ul>
	{% endif %}

	<p>Thank you for using our platform.</p>-->

</body>
</html>