{% load static %}

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'landing' %}">Fedha Borrower</a>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" />
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <!-- Notifications Dropdown -->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bell"></i>
                <!-- Notification Counter -->
                <span class="badge badge-danger">
                    {% if unread_loan_approved_count > 0 %}
                        {{ unread_loan_approved_count }}
                    {% else %}
                        0
                    {% endif %}
                </span>
            </a>

            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-end"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header fw-bold border-bottom pb-1">Loan Notifications</h6>

                {% if unread_loan_approved %}
                    {% for notification in unread_loan_approved %}
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <!--<div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-bell text-white"></i>
                                </div>
                            </div>-->
                            <div>
                                <div class="small text-gray-500">
                                    {{ notification.date_created|date:"F j, Y, g:i a" }}
                                </div>
                                <span class="font-weight-bold">{{ notification.message }}</span>
                            </div>
                        </a>
                    {% endfor %}
                    <a class="dropdown-item text-center small text-gray-500" href="{% url 'borrower-notifications' %}">Show All Notifications</a>
                {% else %}
                    <a class="dropdown-item text-center small text-gray-500">No new notifications</a>
                {% endif %}


                <h6 class="dropdown-header fw-bold border-bottom pb-1">Rejected Loan Notifications</h6>
                {% if unread_loan_rejected %}
                    {% for notification in unread_loan_rejected %}
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div>
                                <div class="small text-gray-500">
                                    {{ notification.date_created|date:"F j, Y, g:i a" }}
                                </div>
                                <span class="font-weight-bold text-danger">{{ notification.message }}</span>
                            </div>
                        </a>
                    {% endfor %}
                    <a class="dropdown-item text-center small text-gray-500" href="{% url 'borrower-notifications' %}">
                        Show All Notifications
                    </a>
                {% else %}
                    <a class="dropdown-item text-center small text-gray-500">No rejected notifications</a>
                {% endif %}

                <h6 class="dropdown-header fw-bold border-bottom pb-1">Pending Loan Notifications</h6>
                {% if unread_loan_pending %}
                    {% for notification in unread_loan_pending %}
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div>
                                <div class="small text-gray-500">
                                    {{ notification.date_created|date:"F j, Y, g:i a" }}
                                </div>
                                <span class="font-weight-bold text-warning">{{ notification.message }}</span>
                            </div>
                        </a>
                    {% endfor %}
                    <a class="dropdown-item text-center small text-gray-500" href="{% url 'borrower-notifications' %}">
                        Show All Notifications
                    </a>
                {% else %}
                    <a class="dropdown-item text-center small text-gray-500">No pending notifications</a>
                {% endif %}

            </div>
        </li>


        <!-- Nav Item - Messages -->
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw text-light"></i>
                        <!-- Counter - Messages -->
                        <span class="badge badge-success badge-counter">             
                            {{ read_loan_approved_count }}                                  
                        </span>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-end"
                        aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                            Read Notifications
                        </h6>
                        {% if read_loan_approved %}
                            {% for notification in read_loan_approved %}
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <!--<div class="mr-3">
                                <div class="icon-circle bg-primary">
                                    <i class="fas fa-bell text-white"></i>
                                </div>
                            </div>-->
                            <div>
                                <div class="small text-gray-500">
                                    {{ notification.date_created|date:"F j, Y, g:i a" }}
                                </div>
                                <span class="font-weight-bold">{{ notification.message }}</span>
                            </div>
                        </a>
                        {% endfor %}
                        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        {% else %}
                            <a class="dropdown-item text-center small text-gray-500" href="#">No new notifications</a>
                        {% endif %}

                        
                    </div>
                </li>


        <!-- User Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'landing' %}">Home</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>

<!-- Ensure Notification Updates -->
<script>
document.getElementById('alertsDropdown').addEventListener('click', function () {
    fetch("{% url 'mark_loan_approved_read' %}", {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        }
    }).then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log("Notifications marked as read");
            //location.reload(); // Refresh to update unread count
        }
    });
});
</script>

<!-- Bell Icon Style Fix -->
<style>
.fas.fa-bell {
    color: red !important; /* Ensures the bell icon is visible */
}
</style>
