{% extends 'micro_base.html' %}
{% load static %}

{% block content %}
     <div class="container">
        <h1>My Profile</h1>
       

        <form method="POST" action="{% url 'borrower_profile' %}">
            {% csrf_token %}
            <div class="border">
                <center>
            <h4>Personal Information</h4>
            </center>

                <div class="row mb-3" style="padding: 0 20px;">
                    <div class="col-md-4">
                       
                        <label for="id_full_name">Full Name</label>
                        {{ form.full_name }}
                    
                    </div>
                    <div class="col-md-4">
                        <label for="id_gender">Gender</label>
                        {{ form.gender }}
     
                    </div>
                    <div class="col-md-4">
                        <label for="id_title">Title</label>
                        {{ form.title }}
     
                    </div>
                </div>

                <div class="row mb-3" style="padding: 0 20px;">
                    <div class="col-md-4">
                        {{ form.date_of_birth.label_tag }}
                        {{ form.date_of_birth }}

                    </div>
                    <div class="col-md-4">
                        <label for="id_id_number">ID Number</label>
                        {{ form.id_number }}

                    </div>
                    <div class="col-md-4">
                        <label for="id_marital_status">Marital Status</label>
                         {{ form.marital_status }}

                    </div>
                </div>

                <div class="row mb-3" style="padding: 0 20px;">
                    <div class="col-md-4">
                        <label for="id_phone_number">Phone Number</label>
                        {{ form.phone_number }}

                    </div>
                    <div class="col-md-4">
                        <label for="id_email_address">Email Address</label>
                        {{ form.email_address }}

                    </div>
                    <div class="col-md-4">
                        <label for="id_employer_name">Employer's Name</label>
                        {{ form.employer_name }}

                    </div>
                </div>

                <!--<div class="row mb-3" style="padding: 0 20px;">
                    <div class="col-md-4">
                        <label for="id_employment_position">Employment Position</label>
                        {{ form.employment_position }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_employment_type">Employment Type</label>
                            {{ form.employment_type }}                      
                    </div>

                    <div class="col-md-4">
                         <label for="id_income">Monthly Income Amount</label>
                        {{ form.income }}
                    </div>

                    <div class="col-md-4">
                        <label for="position_level">Position Level</label>
                        {{ form.position_level }}
                    </div>
                </div> -->     

                <div class="mb-3" style="padding: 0 20px;">
                    <label for="id_home_address">Home Address</label>
                    {{ form.home_address }}
                </div>

                <div class="mb-3" style="padding: 0 20px;">
                    <label for="eid_mployer_address">Employer's Address</label>
                    {{ form.employer_address }}
                </div>
            </div>

            <br>
            <div class="border">
                <center>
            <h4>Financial Information</h4>
            </center>

            <div class="row mb-3" style="padding: 0 20px;">
                    <!--<div class="col-md-4">
                        <label for="id_employment_position">Employment Position</label>
                        {{ form.employment_position }}
                    </div>-->
                    <div class="col-md-4">
                        <label for="id_employment_type">Employment Type</label>
                            {{ form.employment_type }}                      
                    </div>

                    <div class="col-md-4">
                         <label for="id_income">Monthly Income Amount</label>
                        {{ form.income }}
                    </div>

                    <div class="col-md-4">
                        <label for="position_level">Position Level</label>
                        {{ form.position_level }}
                    </div>
                </div> 

            <div class="row mb-3" style="padding: 0 20px;">
                <div class="col-md-4">
                    <label for="id_income_type">Income Type</label>
                    {{ form.income_type }} 

                    <br>
                </div>

                <div class="col-md-4">
                    <label for="id_pay_date">Pay Day</label>
                    {{ form.pay_day }}
                  
                </div>

                <!--<div class="col-md-4">
                    <label for="id_monthly_expenses">Monthly Expenses</label>
                    {{ form.monthly_expenses }}
                    <br>
                </div>-->

                <div class="col-md-4">
                    <label for="id_existing_debts">Existing Debts</label>
                    {{ form.existing_debts }}

                    <br>
                </div>

            </div>           
            </div>

            <br>
            <!--<div class="border">
                <center>
            <h4>How do you get your Income</h4>
            </center>

            <div class="row mb-3" style="padding: 0 20px;">
                <div class="col-md-4">
                    <label for="id_employment_type">Employment Type</label>
                    {{ form.employment_type }}
                    
                </div>
               
            </div>           
            </div>-->

            <br>
 
            <br><br>

                <div class="form-check">
                    {{ form.is_over_18 }}
                 <label for="id_is_over_18" class="form-check-label">I hereby confirm that I'm 18 Years and above.</label>
                </div>
                <div class="form-check">
                    {{ form.agrees_to_terms }}
                    <label for="id_agrees_to_terms" class="form-check-label">I hereby certify that the information contained herein is complete and accurate.</label>
                </div>
                <div class="form-check">
                    {{ form.agrees_to_credit_conditions }}
                    <label for="id_agrees_to_credit_conditions" class="form-check-label">This information has been furnished with the understanding that it is to be used to determine the amount and conditions of the credit to be extended.</label>
                </div>
                <div class="form-check">
                    {{ form.information_consent }}
                    <label for="id_information_consent" class="form-check-label">I hereby give consent for the use of my personal information by the Microfinance App and/ or the Lender involved in the processing of my application.</label>
                </div>
            <!--<div class="mb-3">
                <div class="form-check">
                    {{ form.is_over_18 }}
                    <input type="checkbox" class="form-check-input" id="checkbox1">
                    <label class="form-check-label" for="checkbox1">
                    I hereby confirm that I'm 18 Years and above</label>
                </div>
            <div class="mb-3">
                <div class="form-check">
                    {{ form.agrees_to_terms }}
                I hereby certify that the information contained herein is complete and accurate.
                   
                    
                </div>
                <div class="form-check">
                    {{ form.agrees_to_credit_conditions }}
                    This information has been furnished with the understanding that it is to be used to determine the amount and conditions of the credit to be extended.
                   

                </div>
                <div class="form-check">
                    {{ form.information_consent }}
                    I hereby give consent for the use of my personal information by the Microfinance App and/ or the Lender involved in the processing of my application.
                    
                </div>
           </div>-->
                 <br> <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
        <br>
    </div>

    </div>
    
    
    <style>
        .form-control::placeholder {
            color: #999;
            font-style: italic;
           
        }
      
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
    </style>

    {% endblock %}