{% extends 'borrower_base.html' %}
{% load static %}

{% block content %}

  <div class="container mt-5">
    <h6>Please check your email to retrieve the OTP</h6>
    <br>
    <h2>Enter OTP</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="otp" class="form-control" placeholder="Enter OTP" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Verify OTP</button>
    </form>
</div>


{% endblock %}