{% extends 'borrower_base.html' %}
{% block content %}

<div class="container mt-5">
    <h2>My Uploaded Documents</h2>
    {% if documents %}
        <ul class="list-group mt-4">
            {% for doc_type, doc in documents.items %}
                <li class="list-group-item">
                    {{ doc.get_document_type_display }}:
                    <a href="{{ doc.file.url }}" target="_blank" class="btn btn-sm btn-outline-secondary me-2 float-end">View</a>
                    <a href="{{ doc.file.url }}" download class="btn btn-sm btn-outline-primary me-2 float-end">Download</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-warning mt-4">You haven't uploaded any documents yet.</div>
    {% endif %}
</div>



{% endblock %}


