{% extends 'group_dash_base.html' %}
{% load static %}

{% block content %}


    <div class="container-fluid">

        <h1 class="mt-4">Admin Dashboard</h1>

        <section class="bg-light py-5">

        
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        New Group</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Create</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-success"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </section>


    </div>

           
            
{% endblock %}