{% extends 'micro_base.html' %}
{% load static %}

{% block content %}
  <br><br><br><br>
 <center>
     <div class="container mt-5">
        <h2>Forgot your password?</h2>
        <p>Enter your email address and we’ll send you a link to reset your password.</p>
        
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Send Reset Email</button>
        </form>
      </div>
  </center>

<!--<h2>Forgot Password</h2>
<p>Enter your email address and we'll send you a link to reset your password.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Send Reset Email</button>
</form>-->
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}